parameters:
    level: max
    phpVersion: 80200
    paths:
        - src
        - bin
    excludePaths:
        - tests/Fixtures (?)
    stubFiles:
        - phpstan-stubs/pcov.stub
        - phpstan-stubs/xdebug.stub
    treatPhpDocTypesAsCertain: false
